openapi: 3.2.0
info:
  title: Greenly Carbon Analytics Offset Projects API
  version: '1.5'
  description: '# Introduction

    The Greenly Carbon Analytics API is a set of RESTful services which enable the enrichment of bank transactions with carbon footprint analytics.'
  contact:
    email: contact@greenly.earth
servers:
- url: https://api.greenly.earth/v1.5
tags:
- name: offsetProjects
paths:
  /offsetProjects:
    get:
      operationId: GetOffsetProjects
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OffsetProjectOutput'
                type: array
        '401':
          description: Authentication Failed
        '500':
          description: An unexpected error occured while processing the request
      description: Retrieve the details of all offset projects
      summary: Get all offset projects
      tags:
      - offsetProjects
      security: []
      parameters: []
  /offsetProjects/{offsetProjectId}:
    get:
      operationId: GetOffsetProject
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/OffsetProjectOutput'
                - {}
        '401':
          description: Authentication Failed
        '404':
          description: Resource not found
        '500':
          description: An unexpected error occured while processing the request
      description: Retrieve the details of one offset project.
      summary: Get offset project
      tags:
      - offsetProjects
      security: []
      parameters:
      - in: path
        name: offsetProjectId
        required: true
        schema:
          type: string
  /offsetProjects/bookOffsetQuantity:
    post:
      operationId: BookOffsetQuantity
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/BookOffsetOutput'
                - {}
        '401':
          description: Authentication Failed
        '422':
          description: Input request body does not have the right format
        '500':
          description: An unexpected error occured while processing the request
      description: Booking a quantity of CO2 equivalent to offset from an offset project
      summary: Book offset project
      tags:
      - offsetProjects
      security: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookOffsetArgs'
components:
  schemas:
    BookOffsetOutput:
      properties:
        totalPrice:
          type: number
          format: double
          description: Total price corresponding to the booking realized
        bookingSuccessful:
          type: boolean
          description: Boolean representing whether the booking was successfully done.
      required:
      - totalPrice
      - bookingSuccessful
      type: object
    Translations:
      $ref: '#/components/schemas/Record_Language.string_'
    OffsetProjectOutput:
      properties:
        remainingOffsetInTCO2eq:
          type: number
          format: double
          description: Remaining quantity of CO2 equivalent that is available for booking through the project (in tons of CO2 equivalents)
        totalOffsetInTCO2eq:
          type: number
          format: double
          description: Total quantity of CO2 equivalent that will be offset by the project (in tons of CO2 equivalents)
        priceInEuroPerTCO2eq:
          type: number
          format: double
          description: Price of the offsetting (in euro per ton of CO2 equivalent)
        certificationsLogoURL:
          items:
            type: string
          type: array
          description: List of the logos associated to the certification of the project
        certifications:
          items:
            type: string
          type: array
          description: List of the certifications of the project
        partnerLogoURL:
          type: string
          description: Logo of the company providing the project
        partner:
          type: string
          description: Name of the company providing the project
        longDescription:
          $ref: '#/components/schemas/Translations'
          description: Description of the project in a detailled paragraph with additional informations (in a multilingual format).
        shortHandDescription:
          $ref: '#/components/schemas/Translations'
          description: Description of the project in a few words (in a multilingual format).
        location:
          type: string
          description: Geographical localisation of the offsetting project
        name:
          type: string
          description: Name of the offset project
        id:
          type: string
          description: Unique identifier of the offset project
      required:
      - remainingOffsetInTCO2eq
      - totalOffsetInTCO2eq
      - priceInEuroPerTCO2eq
      - certificationsLogoURL
      - certifications
      - partnerLogoURL
      - partner
      - longDescription
      - shortHandDescription
      - location
      - name
      - id
      type: object
    BookOffsetArgs:
      properties:
        email:
          type: string
          description: (Optional) Email of the user carrying out the booking
        bookedOffsetInTCO2eq:
          type: number
          format: double
          description: Quantity of offsetting being booked (in TCO2eq)
        offsetProjectId:
          type: string
          description: Unique identifier of the chosen project
      required:
      - bookedOffsetInTCO2eq
      - offsetProjectId
      type: object
    Record_Language.string_:
      properties:
        en:
          type: string
        fr:
          type: string
        es:
          type: string
        it:
          type: string
        sv:
          type: string
        de:
          type: string
      type: object
      description: Construct a type with a set of properties K of type T
  securitySchemes:
    api_key:
      type: apiKey
      name: api-key
      in: header
